* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: cursive;
  background: rgb(230, 230, 230);
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(201, 201, 201, 0.616);
}
header h2 {
  font-weight: 100;
}
header span i {
  font-size: 2rem;
  cursor: pointer;
}
